{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css">
{% endblock %}
{% block content %}
	<div class='page'>
		<div class="page-header"><h1>{{ page.title }}</h1></div>
		<div>{{ page.content }}</div>
	</div>
{% endblock %}
